:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Relaway", sans-serif;
  --accent-color:#2196F3;
  --main-color: #757575;
  --title-color: #212121;
  --white-text-color: #ffffff;
}
body {
  background-color: var(--white-text-color);
  font-family: var(--text-font);
  font-style: normal;
}
/* Components */

.address {
  font-style: normal;
  color: var(--white-text-color);
}

/* logo */
.logotype {
Font-family:var(--logo-font);
font-weight: 700;
Font-size: 26px;
Line-height: 1.19;
text-decoration: none;
Letter spacing: 0.03 em;
}
.logo-web {
    color: var(--accent-color);
}
.logotype-light-theme {
    color: #000000;
}
.logotype-dark-theme {
    color: var(--white-text-color);
}

/* header*/
.navigation-list-link {
font-family: var(--text-font);
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color:var(--title-color);
text-decoration: none;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}
.navigation-list .navigation-list-link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.header .info {
font-family: var(--text-font);
font-weight: 500;
font-size: 14px;
line-height: 1.143;
text-decoration: none;
letter-spacing: 0.02em;
color: var(--main-color);
}
.info:hover, 
.info:focus {
color: var(--accent-color);
}
/* footer */
.footer {
  background-color: #2F303A;;
}
.footer .adress {
font-family:var(--text-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color:var(--white-text-color);
}
.footer .info {
font-family:var(--text-font);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 2;
text-decoration: none;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.link {
  text-decoration: none;
}
/* Components end */

/* hero*/
.hero {
  background-color: #2F303A;;
}
.title {
font-family:var(--text-font);
font-weight: 900;
font-size: 44px;
line-height: 1.364;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-text-color);
}

.modal-btn {
font-family:var(--text-font);
font-weight: 700;
font-size: 16px;
line-height: 1.875;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--white-text-color);
background: var(--accent-color);
}

/* items */
.items-title {
font-family:var(--text-font);
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--title-color)
}
.items-text {
font-family: var(--text-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-color);
}

/* about us */
.about-us-title,
.our-team-title {
font-family:var(--text-font);
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;

color:var(--title-color);
}

/* our team */
.our-team {
  background-color: #F5F4FA;;
}
.our-team-positions {
font-family: var(--text-font);
font-weight: normal;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
color: var(--main-color);
}

/* hero portfolio */
.buttons-list-item-btn {
font-family: var(--text-font);
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
color: var(--title-color);
cursor: pointer;
}
.buttons-list-item-btn:hover,
.buttons-list-item-btn:focus {
color: #FFFFFF;
background: var(--accent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/* projects */ 
.projects-title {
font-family: var(--text-font);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}
.projects-text {
font-family: var(--text-font);
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--main-color);
}

